# Homework 4, Part 2
<br><br>
__Name: Haoran Zhu__ <br>
__UNI: hz2712__

In [2]:
%load_ext sql

In [3]:
%sql mysql+pymysql://root:Zhr990512@@localhost

## Introduction

- HW4, step 2 is common to all tracks.


- H4 step 2 is worth 5 points.


- Submission:
    - Format is a zip file containing a completed version of this notebook. You must name the zip file ```<uni>_W4111_F20_HW4_2.zip``` and the notebook ```<uni>_W4111_F20_HW4_2.ipynb.```
    - Due date: 13-Dec-2020, 11:59 PM.

## Tasks

- You worked with and loaded two sets of data for step 1.
    1. _Game of Thrones_ information in CSV files. I have provided an [SQL script](https://www.dropbox.com/s/mjvg3cncnidg8w2/HW4GoT.sql?dl=0) for students who were not able to load the data. You can use the script to load data for step 2.
    2. _IMDB_ information in TSV files. I have provided a [directory containing](https://www.dropbox.com/sh/u45li45stood6ia/AAByMVAjPIAV2TBtH8z9PO0Za?dl=0) compressed SQL scripts for loading the data.
    
    
- Load the data, if you were not able to complete step 1. I provide an example below.


- Game of Thrones contains the following tables.

In [4]:
%sql use HW4GoT;
%sql show tables;

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
8 rows affected.

[('character_groups',),
 ('character_relationships',),
 ('characters',),
 ('characters_actors',),
 ('episodes',),
 ('locations',),
 ('scenes',),
 ('scenes_characters',)]

- IMDB contains the following tables.

In [6]:
%sql show tables from HW4IMDB;

 * mysql+pymysql://root:***@localhost
7 rows affected.

[('name_basics',),
 ('title_akas',),
 ('title_basics',),
 ('title_crew',),
 ('title_episode',),
 ('title_principals',),
 ('title_ratings',)]

- A little probing of the data shows that there are connections/relationships between the data in the two data sets. For example, ```gotf20raw.characters_actors.actorLink``` almost certainly references ```imdbf20raw.name_basics.nconst.```


- HW4, step 2 requires you to:
    - Identify __five__ relationships between tables in the two datasets.
    - For each relationship you identify:
        - Write a query for the relationship that demonstrates the correctness of your choice.
        - Modify the schema to implement each of the relationship.
        - Create a view, and run a query returning rows from the views.

## Answers

## Relationship 1

__One or two sentence description__
<br><br>
As described in the example above, ```HW4GoT.characters_actors.actorLink``` seems to be related to ```HW4IMDB.name_basics.nconst```.

First of all, we need to clean up ```HW4GoT.characters_actors```. Below queries perform following tasks:
1. create a new column ```got_nconst``` based on ```actorLink``` column for easier comparison (e.g. /name/nm1234567/ ```actorLink``` becomes nm1234567 in ```got_nconst```)
2. correct the five exceptional values in ```got_nconst``` as mentioned in the Piazza post, and delete a row with invalid ```actorLink``` value

In [7]:
%%sql

ALTER TABLE `HW4GoT`.`characters_actors` 
ADD COLUMN `got_nconst` VARCHAR(64) NULL DEFAULT NULL AFTER `season`;

update HW4GoT.characters_actors
set got_nconst = substr(actorLink, 7, 9);

update HW4GoT.characters_actors
set got_nconst = "nm5485781" where got_nconst = "nm5491087";

update HW4GoT.characters_actors
set got_nconst = "nm3664502" where got_nconst = "nm5221696";

update HW4GoT.characters_actors
set got_nconst = "nm1239578" where got_nconst = "nm3226454";

update HW4GoT.characters_actors
set got_nconst = "nm5193652" where got_nconst = "nm5223922";

update HW4GoT.characters_actors
set got_nconst = "nm7504777" where got_nconst = "nm8199963";

delete from HW4GoT.characters_actors where got_nconst = "";

 * mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (1060, "Duplicate column name 'got_nconst'")
[SQL: ALTER TABLE `HW4GoT`.`characters_actors` ADD COLUMN `got_nconst` VARCHAR(64) NULL DEFAULT NULL AFTER `season`;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

__Verifying query__

Now we compare ```HW4GoT.characters_actors.got_nconst``` with ```HW4IMDB.name_basics.nconst```. From the comparison result shown by below query, we can see that every ```got_nconst``` has a match in ```nconst```, which confirmed our hypothesis that they are related.

In [8]:
%%sql

select * from HW4GoT.characters_actors where got_nconst not in 
    (select nconst from HW4IMDB.name_basics);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

__DDL statements modifying schema__

To implement the relationship, we first set ```nconst``` as the primary key of ```HW4IMDB.name_basics```. Then we set ```HW4GoT.characters_actors.got_nconst``` as a foreign key referencing ```HW4IMDB.name_basics.nconst```. Also, since ```actorLink``` serves no purpose now, we delete it from ```HW4GoT.characters_actors```.

In [ ]:
%%sql

ALTER TABLE `HW4IMDB`.`name_basics` 
CHANGE COLUMN `nconst` `nconst` VARCHAR(128) NOT NULL ,
ADD PRIMARY KEY (`nconst`);
;

ALTER TABLE `HW4GoT`.`characters_actors` 
ADD INDEX `ca_to_name_basics_idx` (`got_nconst` ASC) VISIBLE;
;
ALTER TABLE `HW4GoT`.`characters_actors` 
ADD CONSTRAINT `ca_to_name_basics`
  FOREIGN KEY (`got_nconst`)
  REFERENCES `HW4IMDB`.`name_basics` (`nconst`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;

ALTER TABLE `HW4GoT`.`characters_actors` 
DROP COLUMN `actorLink`;

__View Test__

For the view test, we create a view combining ```HW4GoT.characters_actors``` and ```HW4IMDB.name_basics``` using ```nconst```. The resulting view equips every actor in GoT with more detailed information about himself/herself such as birth year and title(s) he/she is known for.

In [9]:
%%sql

create or replace view HW4GoT.character_name_basics as 
    (select * from HW4GoT.characters_actors join HW4IMDB.name_basics 
    on HW4GoT.characters_actors.got_nconst = HW4IMDB.name_basics.nconst);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [28]:
%sql select * from HW4GoT.character_name_basics limit 7;

 * mysql+pymysql://root:***@localhost
7 rows affected.

[(0, 'CH_0', 'B.J. Hogg', '', 'nm0389698', 'nm0389698', 'B.J. Hogg', '1955', '2020', 'actor,music_department', 'tt0986233,tt0970411,tt1240982,tt0944947'),
 (1, 'CH_2', 'Michael Feast', '', 'nm0269923', 'nm0269923', 'Michael Feast', '1946', None, 'actor,composer', 'tt0472160,tt0362192,tt0120879,tt0162661'),
 (2, 'CH_3', 'David Rintoul', '', 'nm0727778', 'nm0727778', 'David Rintoul', '1948', None, 'actor', 'tt1655420,tt1139328,tt4786824,tt0944947'),
 (3, 'CH_4', 'Chuku Modu', '', 'nm6729880', 'nm6729880', 'Chuku Modu', '1990', None, 'actor,writer,producer', 'tt6470478,tt0944947,tt2674426,tt4154664'),
 (4, 'CH_5', 'Owen Teale', '', 'nm0853583', 'nm0853583', 'Owen Teale', '1961', None, 'actor', 'tt0944947,tt0462396,tt0102797,tt0485301'),
 (5, 'CH_6', 'Karl Davies', '', 'nm0203801', 'nm0203801', 'Karl Davies', '1982', None, 'actor,producer', 'tt7366338,tt0944947,tt3428912,tt2261331'),
 (6, 'CH_7', 'Megan Parkinson', '', 'nm8257864', 'nm8257864', 'Megan Parkinson', None, None, 'actress', 'tt6636246,tt4276618,tt5761478,tt0944947')]

## Relationship 2

__One or two sentence description__
<br><br>
It seems very obvious that ```HW4GoT.episodes.episodeLink``` is related to ```HW4IMDB.title_basics.tconst```. This relationship follows the same pattern as relationship 1.

First of all, we need to clean up ```HW4GoT.episodes```. Below queries create a column ```got_tconst``` based on ```episodeLink``` for easier comparison. For example, /title/tt1234567/ in ```episodeLink``` is converted into tt1234567 in ```got_tconst```.

In [11]:
%%sql 

ALTER TABLE `HW4GoT`.`episodes` 
ADD COLUMN `got_tconst` VARCHAR(64) NULL DEFAULT NULL AFTER `episodeDescription`;

update HW4GoT.episodes 
set got_tconst = substr(episodeLink, 8, 9);

 * mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (1060, "Duplicate column name 'got_tconst'")
[SQL: ALTER TABLE `HW4GoT`.`episodes` ADD COLUMN `got_tconst` VARCHAR(64) NULL DEFAULT NULL AFTER `episodeDescription`;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

__Verifying query__

Now we compare ```HW4GoT.episodes.got_tconst``` with ```HW4IMDB.title_basics.tconst```. From the comparison result shown by below query, we can see that every ```got_tconst``` has a match in ```tconst```, which confirmed our hypothesis that they are related.

In [12]:
%%sql
select * from HW4GoT.episodes where
    got_tconst not in (select tconst from HW4IMDB.title_basics);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

__DDL statements modifying schema__

To implement the relationship, we first set ```tconst``` as the primary key of ```HW4IMDB.title_basics```. Then we set ```HW4GoT.episodes.got_tconst``` as a foreign key referencing ```HW4IMDB.title_basics.tconst```. Also, since ```episodeLink``` serves no purpose now, we delete it from ```HW4GoT.episodes```.

In [ ]:
%%sql

ALTER TABLE `HW4IMDB`.`title_basics` 
CHANGE COLUMN `tconst` `tconst` VARCHAR(64) NOT NULL ,
ADD PRIMARY KEY (`tconst`);
;

ALTER TABLE `HW4GoT`.`episodes` 
ADD INDEX `episodes_title_basics_idx` (`got_tconst` ASC) VISIBLE;
;
ALTER TABLE `HW4GoT`.`episodes` 
ADD CONSTRAINT `episodes_title_basics`
  FOREIGN KEY (`got_tconst`)
  REFERENCES `HW4IMDB`.`title_basics` (`tconst`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;

ALTER TABLE `HW4GoT`.`episodes` 
DROP COLUMN `episodeLink`;

__View Test__

For the view test, we create a view combining ```HW4GoT.episodes``` and ```HW4IMDB.title_basics``` using ```tconst```. The resulting view equips every episode in GoT with more detailed information about each episode such as its start year and runtime.

In [13]:
%%sql

create or replace view HW4GoT.episodes_title_basics as
    (select * from HW4GoT.episodes join HW4IMDB.title_basics
    on HW4GoT.episodes.got_tconst = HW4IMDB.title_basics.tconst);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [15]:
%sql select * from HW4GoT.episodes_title_basics limit 5;

 * mysql+pymysql://root:***@localhost
5 rows affected.

[(0, 1, 1, 'Winter Is Coming', '2011-04-17', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", 'tt1480055', 'tt1480055', 'tvEpisode', 'Winter Is Coming', 'Winter Is Coming', '0', '2011', None, '62', 'Action,Adventure,Drama'),
 (1, 1, 2, 'The Kingsroad', '2011-04-24', "While Bran recovers from his fall, Ned takes only his daughters to King's Landing. Jon Snow goes with his uncle Benjen to The Wall. Tyrion joins them.", 'tt1668746', 'tt1668746', 'tvEpisode', 'The Kingsroad', 'The Kingsroad', '0', '2011', None, '56', 'Action,Adventure,Drama'),
 (2, 1, 3, 'Lord Snow', '2011-05-01', "Lord Stark and his daughters arrive at King's Landing to discover the intrigues of the king's realm.", 'tt1829962', 'tt1829962', 'tvEpisode', 'Lord Snow', 'Lord Snow', '0', '2011', None, '58', 'Action,Adventure,Drama'),
 (3, 1, 4, 'Cripples, Bastards, and Broken Things', '2011-05-08', "Eddard investigates Jon Arryn's murder. Jon befriends Samwell Tarly, a coward who has come to join the Night's Watch.", 'tt1829963', 'tt1829963', 'tvEpisode', 'Cripples, Bastards, and Broken Things', 'Cripples, Bastards, and Broken Things', '0', '2011', None, '56', 'Action,Adventure,Drama'),
 (4, 1, 5, 'The Wolf and the Lion', '2011-05-15', 'Catelyn has captured Tyrion and plans to bring him to her sister, Lysa Arryn, at The Vale, to be tried for his, supposed, crimes against Bran. Robert plans to have Daenerys killed, but Eddard refuses to be a part of it and quits.', 'tt1829964', 'tt1829964', 'tvEpisode', 'The Wolf and the Lion', 'The Wolf and the Lion', '0', '2011', None, '55', 'Action,Adventure,Drama')]

## Relationship 3

__One or two sentence description__
<br><br>
It seems very obvious that ```HW4GoT.episodes.got_tconst``` is related to ```HW4IMDB.title_ratings.tconst```. This relationship follows the same pattern as relationship 2.

__Verifying query__

Now we compare ```HW4GoT.episodes.got_tconst``` with ```HW4IMDB.title_ratings.tconst```. From the comparison result shown by below query, we can see that every ```got_tconst``` has a match in ```tconst```, which confirmed our hypothesis that they are related.

In [18]:
%%sql

select * from HW4GoT.episodes where got_tconst not in 
    (select tconst from HW4IMDB.title_ratings);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

__DDL statements modifying schema__

To implement the relationship, we first set ```tconst``` as the primary key of ```HW4IMDB.title_ratings```. Then we set ```HW4GoT.episodes.got_tconst``` as a foreign key referencing ```HW4IMDB.title_ratings.tconst```.

In [ ]:
%%sql 

ALTER TABLE `HW4IMDB`.`title_ratings` 
CHANGE COLUMN `tconst` `tconst` VARCHAR(128) NOT NULL ,
ADD PRIMARY KEY (`tconst`);
;

ALTER TABLE `HW4GoT`.`episodes` 
ADD CONSTRAINT `episodes_title_ratings`
  FOREIGN KEY (`got_tconst`)
  REFERENCES `HW4IMDB`.`title_ratings` (`tconst`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;

__View Test__

For the view test, we create a view combining ```HW4GoT.episodes``` and ```HW4IMDB.title_ratings``` using ```tconst```. The resulting view equips every episode in GoT with more detailed information about each episode such as its rating and the number of audiences who voted on it.

In [19]:
%%sql

create or replace view HW4GoT.episodes_title_ratings as
    (select * from HW4GoT.episodes join HW4IMDB.title_ratings
    on HW4GoT.episodes.got_tconst = HW4IMDB.title_ratings.tconst);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [20]:
%sql select * from HW4GoT.episodes_title_ratings limit 5;

 * mysql+pymysql://root:***@localhost
5 rows affected.

[(0, 1, 1, 'Winter Is Coming', '2011-04-17', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", 'tt1480055', 'tt1480055', '9.1', '40044'),
 (1, 1, 2, 'The Kingsroad', '2011-04-24', "While Bran recovers from his fall, Ned takes only his daughters to King's Landing. Jon Snow goes with his uncle Benjen to The Wall. Tyrion joins them.", 'tt1668746', 'tt1668746', '8.8', '30357'),
 (2, 1, 3, 'Lord Snow', '2011-05-01', "Lord Stark and his daughters arrive at King's Landing to discover the intrigues of the king's realm.", 'tt1829962', 'tt1829962', '8.7', '28710'),
 (3, 1, 4, 'Cripples, Bastards, and Broken Things', '2011-05-08', "Eddard investigates Jon Arryn's murder. Jon befriends Samwell Tarly, a coward who has come to join the Night's Watch.", 'tt1829963', 'tt1829963', '8.8', '27246'),
 (4, 1, 5, 'The Wolf and the Lion', '2011-05-15', 'Catelyn has captured Tyrion and plans to bring him to her sister, Lysa Arryn, at The Vale, to be tried for his, supposed, crimes against Bran. Robert plans to have Daenerys killed, but Eddard refuses to be a part of it and quits.', 'tt1829964', 'tt1829964', '9.1', '28362')]

## Relationship 4

__One or two sentence description__
<br><br>
It seems very obvious that ```HW4GoT.episodes.got_tconst``` is related to ```HW4IMDB.title_crew.tconst```. This relationship follows the same pattern as relationship 2.

__Verifying query__

Now we compare ```HW4GoT.episodes.got_tconst``` with ```HW4IMDB.title_crew.tconst```. From the comparison result shown by below query, we can see that every ```got_tconst``` has a match in ```tconst```, which confirmed our hypothesis that they are related.

In [21]:
%%sql

select * from HW4GoT.episodes where got_tconst not in 
    (select tconst from HW4IMDB.title_crew);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

__DDL statements modifying schema__

To implement the relationship, we first set ```tconst``` as the primary key of ```HW4IMDB.title_crew```. Then we set ```HW4GoT.episodes.got_tconst``` as a foreign key referencing ```HW4IMDB.title_crew.tconst```.

In [ ]:
%%sql

ALTER TABLE `HW4IMDB`.`title_crew` 
CHANGE COLUMN `tconst` `tconst` VARCHAR(128) NOT NULL ,
ADD PRIMARY KEY (`tconst`);
;

ALTER TABLE `HW4GoT`.`episodes` 
ADD CONSTRAINT `episodes_title_crew`
  FOREIGN KEY (`got_tconst`)
  REFERENCES `HW4IMDB`.`title_crew` (`tconst`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;

__View Test__

For the view test, we create a view combining ```HW4GoT.episodes``` and ```HW4IMDB.title_crew``` using ```tconst```. The resulting view equips every episode in GoT with more detailed information about each episode such as its writer.

In [22]:
%%sql 

create or replace view HW4GoT.episodes_title_crew as
    (select * from HW4GoT.episodes join HW4IMDB.title_crew
    on HW4GoT.episodes.got_tconst = HW4IMDB.title_crew.tconst);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [24]:
%sql SELECT * FROM HW4GoT.episodes_title_crew limit 5;

 * mysql+pymysql://root:***@localhost
5 rows affected.

[(0, 1, 1, 'Winter Is Coming', '2011-04-17', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", 'tt1480055', 'tt1480055', 'nm0887700', 'nm1125275,nm1888967,nm0552333'),
 (1, 1, 2, 'The Kingsroad', '2011-04-24', "While Bran recovers from his fall, Ned takes only his daughters to King's Landing. Jon Snow goes with his uncle Benjen to The Wall. Tyrion joins them.", 'tt1668746', 'tt1668746', 'nm0887700', 'nm1125275,nm1888967,nm0552333'),
 (2, 1, 3, 'Lord Snow', '2011-05-01', "Lord Stark and his daughters arrive at King's Landing to discover the intrigues of the king's realm.", 'tt1829962', 'tt1829962', 'nm1047532', 'nm1125275,nm1888967,nm0552333'),
 (3, 1, 4, 'Cripples, Bastards, and Broken Things', '2011-05-08', "Eddard investigates Jon Arryn's murder. Jon befriends Samwell Tarly, a coward who has come to join the Night's Watch.", 'tt1829963', 'tt1829963', 'nm1047532', 'nm1125275,nm1888967,nm0552333,nm2643685'),
 (4, 1, 5, 'The Wolf and the Lion', '2011-05-15', 'Catelyn has captured Tyrion and plans to bring him to her sister, Lysa Arryn, at The Vale, to be tried for his, supposed, crimes against Bran. Robert plans to have Daenerys killed, but Eddard refuses to be a part of it and quits.', 'tt1829964', 'tt1829964', 'nm1047532', 'nm1125275,nm1888967,nm0552333')]

## Relationship 5

__One or two sentence description__
<br><br>
It seems very obvious that ```HW4GoT.episodes.got_tconst``` is related to ```HW4IMDB.title_episode.tconst```. This relationship follows the same pattern as relationship 2.

__Verifying query__

Now we compare ```HW4GoT.episodes.got_tconst``` with ```HW4IMDB.title_episode.tconst```. From the comparison result shown by below query, we can see that every ```got_tconst``` has a match in ```tconst```, which confirmed our hypothesis that they are related.

In [25]:
%%sql

select * from HW4GoT.episodes where got_tconst not in 
    (select tconst from HW4IMDB.title_episode);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

__DDL statements modifying schema__

To implement the relationship, we first set ```tconst``` as the primary key of ```HW4IMDB.title_episode```. Then we set ```HW4GoT.episodes.got_tconst``` as a foreign key referencing ```HW4IMDB.title_episode.tconst```.

In [27]:
%%sql

ALTER TABLE `HW4IMDB`.`title_episode` 
CHANGE COLUMN `tconst` `tconst` VARCHAR(128) NOT NULL ,
ADD PRIMARY KEY (`tconst`);
;

ALTER TABLE `HW4GoT`.`episodes` 
ADD CONSTRAINT `episodes_title_episode`
  FOREIGN KEY (`got_tconst`)
  REFERENCES `HW4IMDB`.`title_episode` (`tconst`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;

 * mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE `HW4IMDB`.`title_episode` CHANGE COLUMN `tconst` `tconst` VARCHAR(128) NOT NULL ,
ADD PRIMARY KEY (`tconst`);]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

__View Test__

For the view test, we create a view combining ```HW4GoT.episodes``` and ```HW4IMDB.title_episode``` using ```tconst```. The resulting view equips every episode in GoT with more detailed information about its parent TV series.

In [26]:
%%sql

create or replace view HW4GoT.episodes_title_episode as
    (select * from HW4GoT.episodes join HW4IMDB.title_episode
    on HW4GoT.episodes.got_tconst = HW4IMDB.title_episode.tconst);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [29]:
%sql SELECT * FROM HW4GoT.episodes_title_episode limit 5;

 * mysql+pymysql://root:***@localhost
5 rows affected.

[(0, 1, 1, 'Winter Is Coming', '2011-04-17', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", 'tt1480055', 'tt1480055', 'tt0944947', '1', '1'),
 (1, 1, 2, 'The Kingsroad', '2011-04-24', "While Bran recovers from his fall, Ned takes only his daughters to King's Landing. Jon Snow goes with his uncle Benjen to The Wall. Tyrion joins them.", 'tt1668746', 'tt1668746', 'tt0944947', '1', '2'),
 (2, 1, 3, 'Lord Snow', '2011-05-01', "Lord Stark and his daughters arrive at King's Landing to discover the intrigues of the king's realm.", 'tt1829962', 'tt1829962', 'tt0944947', '1', '3'),
 (3, 1, 4, 'Cripples, Bastards, and Broken Things', '2011-05-08', "Eddard investigates Jon Arryn's murder. Jon befriends Samwell Tarly, a coward who has come to join the Night's Watch.", 'tt1829963', 'tt1829963', 'tt0944947', '1', '4'),
 (4, 1, 5, 'The Wolf and the Lion', '2011-05-15', 'Catelyn has captured Tyrion and plans to bring him to her sister, Lysa Arryn, at The Vale, to be tried for his, supposed, crimes against Bran. Robert plans to have Daenerys killed, but Eddard refuses to be a part of it and quits.', 'tt1829964', 'tt1829964', 'tt0944947', '1', '5')]