# Homework 4, Part 2
<br><br>
<br><br>

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:Zhr990512@@localhost

## Introduction

- HW4, step 2 is common to all tracks.


- H4 step 2 is worth 5 points.


- Submission:
    - Format is a zip file containing a completed version of this notebook. You must name the zip file ```<uni>_W4111_F20_HW4_2.zip``` and the notebook ```<uni>_W4111_F20_HW4_2.ipynb.```
    - Due date: 13-Dec-2020, 11:59 PM.

## Tasks

- You worked with and loaded two sets of data for step 1.
    1. _Game of Thrones_ information in CSV files. I have provided an [SQL script](https://www.dropbox.com/s/mjvg3cncnidg8w2/HW4GoT.sql?dl=0) for students who were not able to load the data. You can use the script to load data for step 2.
    2. _IMDB_ information in TSV files. I have provided a [directory containing](https://www.dropbox.com/sh/u45li45stood6ia/AAByMVAjPIAV2TBtH8z9PO0Za?dl=0) compressed SQL scripts for loading the data.
    
    
- Load the data, if you were not able to complete step 1. I provide an example below.


- Game of Thrones contains the following tables.

In [5]:
%sql use gotf20raw;
%sql show tables;

 * mysql+pymysql://dbuser:***@localhost
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost
8 rows affected.

[('character_groups',),
 ('character_relationships',),
 ('characters',),
 ('characters_actors',),
 ('episodes',),
 ('locations',),
 ('scenes',),
 ('scenes_characters',)]

- IMDB contains the following tables.

In [6]:
%sql show tables from imdbf20raw;

 * mysql+pymysql://dbuser:***@localhost
7 rows affected.

[('name_basics',),
 ('title_akas',),
 ('title_basics',),
 ('title_crew',),
 ('title_episode',),
 ('title_principals',),
 ('title_ratings',)]

- A little probing of the data shows that there are connections/relationships between the data in the two data sets. For example, ```gotf20raw.characters_actors.actorLink``` almost certainly references ```imdbf20raw.name_basics.nconst.```


- HW4, step 2 requires you to:
    - Identify __five__ relationships between tables in the two datasets.
    - For each relationship you identify:
        - Write a query for the relationship that demonstrates the correctness of your choice.
        - Modify the schema to implement each of the relationship.
        - Create a view, and run a query returning rows from the views.

## Answers

## Relationship 1

__One or two sentence description__
<br><br>

__Verifying query__

In [ ]:
# Query goes here.

__DDL statements modifying schema__

In [ ]:
# Satements go here.

__View Test__

In [7]:
# Query goes here.

## Relationship 2

__One or two sentence description__
<br><br>

__Verifying query__

In [ ]:
# Query goes here.

__DDL statements modifying schema__

In [ ]:
# Satements go here.

__View Test__

In [7]:
# Query goes here.

## Relationship 3

__One or two sentence description__
<br><br>

__Verifying query__

In [ ]:
# Query goes here.

__DDL statements modifying schema__

In [ ]:
# Satements go here.

__View Test__

In [7]:
# Query goes here.

## Relationship 4

__One or two sentence description__
<br><br>

__Verifying query__

In [ ]:
# Query goes here.

__DDL statements modifying schema__

In [ ]:
# Satements go here.

__View Test__

In [7]:
# Query goes here.

## Relationship 5

__One or two sentence description__
<br><br>

__Verifying query__

In [ ]:
# Query goes here.

__DDL statements modifying schema__

In [ ]:
# Satements go here.

__View Test__

In [7]:
# Query goes here.