<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases
</span>
</center></b>
</span><br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 1A: Non-Programming Track Environment
</span>
</center></i>

# Introduction

Homework 1A tests environment setup. The total point value for HW1 is 10 points. Environment setup is necessary to complete HW1. Completing HW1A demonstrates that the environment setup is complete and correct. Details:
1. HW1A is due on 18-Sept-2020 at 11:59 PM. __You may not use grace days.__<br><br>
2. HW1A is worth 2.5 points out of the total 10 points for HW1.<br><br>
3. You will need a working setup to complete HW1. If you do not submit HW1A, your maximum grade on the full HW1 is 7.5 points.

# Anaconda


- You must install Anaconda 3. There are [on-line instructions.](https://www.anaconda.com/distribution/)


- Test correct version of Python by running the code below.

In [7]:
import sys

print("Python version information:", sys.version_info, "\n")
if sys.version_info.major != 3 or \
    ((sys.version_info.major == 3) and (sys.version_info.minor < 5)):
    print("You have an invalid version of Python.")
else:
    print("Your Python version is OK.")

Python version information: sys.version_info(major=3, minor=7, micro=4, releaselevel='final', serial=0)

Your Python version is OK.

- Test the Python path

In [2]:
python_found = False
anaconda_found = False

for p in sys.path:
    print(p)
    if "anaconda3" in p:
        print("Found anaconda3")
        anaconda_found = True
    if "python" in p:
        print("Found some kind of Python.")
        if not anaconda_found:
            print("Found some type of Python other than Anaconda.")
            print("Test fails")
        else:
            print("OK. Path is good.")
            python_found = True
        break
    
if python_found and anaconda_found:
    print("\nPassed all path tests.")
else:
    print("\nFailed path tests.")

/Users/carriehaykellar/Downloads/hw1a_no_programming
/opt/anaconda3/lib/python37.zip
Found anaconda3
Found some kind of Python.
OK. Path is good.

Passed all path tests.

- Test Conda/Anaconda Version

In [3]:
import conda

In [4]:
conda_version_info =  conda.sys.version_info
print("Your conda version info is\n", conda_version_info)

print("Conda version information:", conda_version_info, "\n")
if conda_version_info.major != 3 or \
    ((conda_version_info.major == 3) and (conda_version_info.minor < 6)):
    print("You have an invalid version of Conda.")
else:
    print("Your Conda version is OK.")

Your conda version info is
 sys.version_info(major=3, minor=7, micro=4, releaselevel='final', serial=0)
Conda version information: sys.version_info(major=3, minor=7, micro=4, releaselevel='final', serial=0)

Your Conda version is OK.

- Test Pandas

In [5]:
import pandas

p_version = pandas.__version__
p_nums = p_version.split(".")

print("Your pandas version is ", p_version)
if p_nums[1] != '25':
    print("Your version is invalid.")
else:
    print("Your version is OK.")

Your pandas version is  0.25.1
Your version is OK.

- The following fragment promps your for input. Please enter y or n.

In [6]:
print("Professor Ferguson gave us code that accesses a module's property of the form __X__")
ans = input("Answer y or n:")

if ans == 'y' or ans == 'Y':
    print("You failed the test. Prof. Ferguson is to good a programmer to ever do that.")
    print("Reformatting harddrive as punishment.")
elif ans == 'n' or ans == 'N':
    print("You passed the test.")
else:
    print("Really. Answering y or n was too tricky?")

Professor Ferguson gave us code that accesses a module's property of the form __X__
Answer y or n:y
You failed the test. Prof. Ferguson is to good a programmer to ever do that.
Reformatting harddrive as punishment.

# ipython-sql

- Run the following code cell.

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.7/site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in /opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.8.0)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prettytable<1 in /opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (41.4.0)
Requirement already satisfied: jedi>=0.10 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.15.1)
Requirement already satisfied: pygments in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.4.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: appnope; sys_platform == "darwin" in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pickleshare in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: traitlets>=4.2 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.7.0)
Requirement already satisfied: backcall in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: parso>=0.5.0 in /opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.1)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)

- If you got errors, please follow the [instructions in the ipython-sql site](https://github.com/catherinedevlin/ipython-sql) to install the magic.


- __NOTE:__ Running the cell above may produce multiple notifications about installing requirements or requirement already satisfied. That is normal.



- Once you get the install to work without errors, run the following cell.

In [10]:
%load_ext sql

- If you did not get an error response, your test passed.


- If you run the cell twice, your answer should be:

```
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
```

- If you got the expected answer, your test passed.

# SQLite

- Run the following cell.

In [11]:
%sql sqlite:///countries.db

- Your answer should be something like ...

```'Connected: @country.db'```

- Run the following cell.

In [12]:
import pandas as pd

url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
countries=pd.read_csv(url)
countries

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

- The result will be formatted but should contain data like ...

```
    Country	Region
0	Algeria	AFRICA
1	Angola	AFRICA
2	Benin	AFRICA
3	Botswana	AFRICA
4	Burkina	AFRICA
...	...	...
189	Paraguay	SOUTH AMERICA
190	Peru	SOUTH AMERICA
191	Suriname	SOUTH AMERICA
192	Uruguay	SOUTH AMERICA
193	Venezuela	SOUTH AMERICA
```

- Run the following cell.

In [13]:
import sqlite3
conn = sqlite3.connect("countries.db")
conn

- Your answer should be something like ...

```
<sqlite3.Connection at 0x7f9ee498ed50>
```

- The hexadecimal number will be different.

- Run the following cell ...

In [14]:
%%sql
DROP TABLE IF EXISTS countries;

CREATE TABLE countries (
    id INTEGER PRIMARY KEY,
    name varchar(32) NOT NULL,
    region varchar(32) NOT NULL
);

 * sqlite:///countries.db
Done.
Done.

[]

- Your answer should look something like ...

```
* sqlite:///countries.db
Done.
Done.
```

In [15]:
%sql select * from countries;

 * sqlite:///countries.db
Done.

[]

- Your answer should look like an empty table, i,e, just columns.


- Now we will add some data.

In [16]:
countries.rename(columns={"Country": "name", "Region": "region"}, inplace=True)
countries

          name         region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

- This will be the same data frame as before, but with the columns renamed.

In [17]:
countries.to_sql(name='countries', con=conn, if_exists='append', index_label='id')

- The statement worked if you did not get an error.

In [18]:
%sql select * from countries limit 10;

 * sqlite:///countries.db
Done.

[(0, 'Algeria', 'AFRICA'),
 (1, 'Angola', 'AFRICA'),
 (2, 'Benin', 'AFRICA'),
 (3, 'Botswana', 'AFRICA'),
 (4, 'Burkina', 'AFRICA'),
 (5, 'Burundi', 'AFRICA'),
 (6, 'Cameroon', 'AFRICA'),
 (7, 'Cape Verde', 'AFRICA'),
 (8, 'Central African Republic', 'AFRICA'),
 (9, 'Chad', 'AFRICA')]

- Your answer should display the data ...

```
id	name	region
0	Algeria	AFRICA
1	Angola	AFRICA
2	Benin	AFRICA
3	Botswana	AFRICA
4	Burkina	AFRICA
5	Burundi	AFRICA
6	Cameroon	AFRICA
7	Cape Verde	AFRICA
8	Central African Republic	AFRICA
9	Chad	AFRICA

```

- Some simple SQL Examples

In [19]:
# The distinct regions
%sql select distinct region from countries;

 * sqlite:///countries.db
Done.

[('AFRICA',),
 ('ASIA',),
 ('EUROPE',),
 ('NORTH AMERICA',),
 ('OCEANIA',),
 ('SOUTH AMERICA',)]

In [20]:
# The number of countries in each region
%sql select region, count(*) as no_of_countries from countries group by region;

 * sqlite:///countries.db
Done.

[('AFRICA', 54),
 ('ASIA', 44),
 ('EUROPE', 47),
 ('NORTH AMERICA', 23),
 ('OCEANIA', 14),
 ('SOUTH AMERICA', 12)]

# Lucidchart

- Sign-up for a trial account at https://www.lucidchart.com/pages/


- Once you have signed up and logged-in
    1. Create a new document.
    2. Create a new document.
    3. In the left side Shaped panel, click to add a new set of shapes.
    4. Choose "Entity Relationship"
    
    
- You should not see the shapes for[Crow's Foot Notatio](https://www.vertabelo.com/blog/crow-s-foot-notation/) ER Diagrams.


- Draw the following diagram in Lucidchart using the ER shapes tool.

<hr style="height:2px;">
<img src="./countries_schema.png">
<hr style="height:2px;">


- Use a screen capture tool to save the image to a file, and place in the HW1 folder.


- Rename your file ```countries_schema.png```


- Put the following in a markup cell and you should see your image.

```
<hr style="height:2px;">
<img src="./countries_schema.png">
<hr style="height:2px;">
```

# Online Information Integration

- Run the following cell.

In [21]:
import requests
import json

def get_country_info(c_name, fields=None):
    
    url = "https://restcountries.eu/rest/v2/name/" + c_name
    
    if fields is not None:
        field_query=";".join(fields)
        url += "?fields=" + field_query
        
    result = requests.get(url)
    
    if result.status_code != 200:
        result = None
    else:
        result = result.json()
        
    return result

- If you did not get an error, it worked.


- Run the cell below.

In [22]:
result_set = %sql select name from countries where name="United States";
first_row = result_set[0]
us_c_name = first_row[0]
us_c_name

 * sqlite:///countries.db
Done.

'United States'

- Your answer will be something like 

```
* sqlite:///countries.db
Done.

'United States'

```

- Run the following cell ...

In [23]:
cinfo = get_country_info(us_c_name, fields=['name', 'alpha2Code', 'alpha3Code', 'callingCodes', 'altSpellings'])
cinfo

[{'name': 'United States Minor Outlying Islands',
  'alpha2Code': 'UM',
  'alpha3Code': 'UMI',
  'callingCodes': [''],
  'altSpellings': ['UM']},
 {'name': 'United States of America',
  'alpha2Code': 'US',
  'alpha3Code': 'USA',
  'callingCodes': ['1'],
  'altSpellings': ['US', 'USA', 'United States of America']}]

- Your answer will be something like ...

```
[{'name': 'United States Minor Outlying Islands',
  'alpha2Code': 'UM',
  'alpha3Code': 'UMI',
  'callingCodes': [''],
  'altSpellings': ['UM']},
 {'name': 'United States of America',
  'alpha2Code': 'US',
  'alpha3Code': 'USA',
  'callingCodes': ['1'],
  'altSpellings': ['US', 'USA', 'United States of America']}]

```

- Run the following cell ...

In [24]:
%%sql

drop table if exists country_standards;

create table country_standards (
    alpha2code char(2) primary key,
    alpha3code char(3),
    name varchar(256));

 * sqlite:///countries.db
Done.
Done.

[]

- Your answer should be something like ...

```
* sqlite:///countries.db
Done.
Done.

```

- Run the following cell ...

In [25]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
 
    return conn

conn2 = create_connection('countries')
conn2

- Your answer should be something like ... (the hexadecimal value will be different).

```
<sqlite3.Connection at 0x7f9ee5222030>
```

- Run the following cell ... ...

In [26]:
def add_country(c_data):
    try:
        sql_statement = """INSERT INTO country_standards(alpha2code, alpha3code, name) 
            VALUES(?, ?, ?)"""
        conn = create_connection('countries.db')
        print("Conn = ", conn)
        cur = conn.cursor()
        result = cur.execute(sql_statement, c_data)
    except Exception as e:
        print("Exception e = ", e)
        result = None

    conn.commit()
    conn.close()

    return result

def create_tables():

    sql = []
    sql.append("drop table if exists country_standards;")
    sql2 = """create table country_standards(
            alpha2code char(2) primary key,
            alpha3code char(3),
            name varchar(256));
        """
    sql.append(sql2)

    conn = create_connection("countries.db")
    cur = conn.cursor()

    for s in sql:
        res = cur.execute(s)

    conn.commit()
    conn.close()
    
    
def t1():

    create_tables()

    c_info = get_country_info('United States', fields=['name', 'alpha2Code', 'alpha3Code',
                                            'callingCodes', 'altSpellings'])
    print("Result = ")
    print(json.dumps(c_info, indent=2))

    for c in c_info:
        to_add = [c['alpha2Code'], c['alpha3Code'], c['name']]
        res = add_country(to_add)
        print("Add result = ", res)

- If you do not get errors it worked ...


- Run the following cell ...

In [27]:
t1()

Result =
[
  {
    "name": "United States Minor Outlying Islands",
    "alpha2Code": "UM",
    "alpha3Code": "UMI",
    "callingCodes": [
      ""
    ],
    "altSpellings": [
      "UM"
    ]
  },
  {
    "name": "United States of America",
    "alpha2Code": "US",
    "alpha3Code": "USA",
    "callingCodes": [
      "1"
    ],
    "altSpellings": [
      "US",
      "USA",
      "United States of America"
    ]
  }
]
Conn =  <sqlite3.Connection object at 0x7f9ee51b7f10>
Add result =  <sqlite3.Cursor object at 0x7f9ee51eb0a0>
Conn =  <sqlite3.Connection object at 0x7f9ee52221f0>
Add result =  <sqlite3.Cursor object at 0x7f9ee51ebe30>

- Your answer should look something like ...

```
Result = 
[
  {
    "name": "United States Minor Outlying Islands",
    "alpha2Code": "UM",
    "alpha3Code": "UMI",
    "callingCodes": [
      ""
    ],
    "altSpellings": [
      "UM"
    ]
  },
  {
    "name": "United States of America",
    "alpha2Code": "US",
    "alpha3Code": "USA",
    "callingCodes": [
      "1"
    ],
    "altSpellings": [
      "US",
      "USA",
      "United States of America"
    ]
  }
]
Conn =  <sqlite3.Connection object at 0x7fb46164f110>
Add result =  <sqlite3.Cursor object at 0x7fb471422880>
Conn =  <sqlite3.Connection object at 0x7fb46164f3b0>
Add result =  <sqlite3.Cursor object at 0x7fb4714229d0>

```

- Run the following cell ...

In [28]:
%sql select * from country_standards

 * sqlite:///countries.db
Done.

[('UM', 'UMI', 'United States Minor Outlying Islands'),
 ('US', 'USA', 'United States of America')]

- The data from your answer should look like ...

```
alpha2code	alpha3code	name
UM	UMI	United States Minor Outlying Islands
US	USA	United States of America

```

# Just Some Fun

- Just a couple more cells ...


- What are the distinct regions?

In [29]:
%sql select distinct region from countries;

 * sqlite:///countries.db
Done.

[('AFRICA',),
 ('ASIA',),
 ('EUROPE',),
 ('NORTH AMERICA',),
 ('OCEANIA',),
 ('SOUTH AMERICA',)]

- How many countries are there in each regions?

In [30]:
%sql select region, count(*) as no_of_countries from countries group by region;

 * sqlite:///countries.db
Done.

[('AFRICA', 54),
 ('ASIA', 44),
 ('EUROPE', 47),
 ('NORTH AMERICA', 23),
 ('OCEANIA', 14),
 ('SOUTH AMERICA', 12)]

# What the Heck Just Happened?

<hr style="height:2px">
<img src="what_just_happened.png">
<hr style="height:2px">